.footer {
  font-family: "druk_wide_bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.social {
  font-family: "druk_wide_bold";
  font-size: 20px;
  margin-bottom: 10px;
}

.contact {
  font-size: 16px;
  font-family: 'Menlo', sans-serif;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .footerwrap {
    flex-direction: row;
  }
}

@media only screen and (max-width: 767px) {
  .footerwrap {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .social {
    font-family: "druk_medium";
  }

  .contact {
    font-size: 12px;
  }
}
