.app-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.lock_input {
  border-width: 1px;
  border-color: aquamarine !important;
  border-radius: 10px;
  padding: 4px 100px;
}

@media only screen and (max-width: 768px) {
  .app-wrap {
    width: 100%;
    justify-content: center;
    padding: 10px 0px;
  }
}