.app-wrap {
  border: 1px solid;
  border-radius: 10px;
  gap: 15px;
  display: flex;
  justify-content: center;
}

.app-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.video-size {
  
  
}

.video-size > div {
  position: absolute;
}


@media only screen and (max-width: 767px) {
  .app-wrap {
    justify-content: center;
    padding: 10px 0px;
  }
}

@media only screen and (min-width: 768px) {
  .app-wrap {
    justify-content: center;
  }
}

.video-wrapper {
  width: auto;
  height: auto;
  /* margin: auto;
  border-radius: 40px; */
  overflow: hidden;
  position: relative;
}