.app-wrap {
  border: 1px solid;
  border-radius: 10px;
  gap: 15px;
  padding: 10px 70px;
  width: fit-content;
  display: flex;
}

.app-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.lock_input {
  border-width: 1px;
  border-color: aquamarine !important;
  border-radius: 10px;
  padding: 4px 4px 4px 110px;
}

.video-size {
  padding-top: 56.25%;
  position: relative;
}

.video-size > div {
  position: absolute;
}


@media only screen and (max-width: 767px) {
  .app-wrap {
    width: 100%;
    justify-content: center;
    padding: 10px 0px;
  }
}

.video-wrapper {
  width: auto;
  height: auto;
  /* margin: auto;
  border-radius: 40px; */
  overflow: hidden;
  position: relative;
}