.app-wrap {
  border: 1px solid;
  border-radius: 10px;
  gap: 15px;
  padding: 5px 50px;
  width: fit-content;
  display: flex;
}

.app-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.hero-video {
  max-width: 800px;
  width: 100%;
}

.hero-wrap {

}

@media only screen and (max-width: 768px) {
  .app-wrap {
    width: 100%;
  }

  .hero-wrap {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-video {
    max-width: 800px;
    flex-direction: column-reverse;
    width: 100%;
  }  
}

@media only screen and (min-width: 1500px) {
  .title {
    font-size: 45px;
  }
}

@media only screen and (min-width: 1700px) {
  .title {
    font-size: 55px;
  }
}
