.contact {
  font-size: 12px;
  font-family: 'Menlo', sans-serif;
  font-weight: bold;
}
.mobfooter{
  display: none;
  font-size: 10px;
}

a{
  text-decoration: none !important;
}

@media only screen and (max-width: 767px) {
  .footer {
  display: none;
  }
  .mobfooter{
    display: block;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1550px) {
  .footer {
    margin-bottom: 120px;
  }
}

@media only screen and (min-width: 1750px) {
  .footer {
    margin-bottom: 150px;
  }
}
