.app-wrap {
  border: 1px solid;
  border-radius: 10px;
  gap: 15px;
  padding: 5px;
  width: fit-content;
  display: flex;
}

.app-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.smallnumber {
  font-size: 60px;
}

.creator_pro {
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .app-wrap {
    width: 100%;
    justify-content: center;
  }
}
