.app-wrap {
  border: 1px solid;
  border-radius: 10px;
  gap: 15px;
  padding: 5px 50px;
  display: flex;
  justify-content: center;
}

.app-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.smallnumber {
  font-size: 60px;
}

.creator_pro {
  font-size: 35px;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .app-wrap {
    width: 100%;
    justify-content: center;
  }
}
.font-helvetica {
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 768px) {
  .app-wrap {
    width: 346px;
    justify-content: center;
  }
}