.app-wrap {
  border: 1px solid;
  border-radius: 10px;
  gap: 15px;
  padding: 5px 50px;
  width: fit-content;
  display: flex;
}

.app-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .fanwrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .app-wrap {
    width: 100%;
    justify-content: center;
  }

  .fanwrap {
    flex-direction: column-reverse !important;
  }
}